{% extends "public.html" %} {% block page %}
<div class="row justify-center q-mt-md">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
    <q-card>
      <q-card-section class="text-center">
        <div class="text-h4">${charge.name || 'LNbits SatsPay'}</div>
        <div
          class="text-subtitle1"
          v-for="line in charge.description.split('\n')"
        >
          ${line}
        </div>
      </q-card-section>
      <satspay-time-elapsed :charge="charge"></satspay-time-elapsed>
      <q-card-section>
        <q-list>
          <q-item-label header
            >Charge ID:
            <span
              class="text-uppercase text-secondary cursor-pointer"
              @click="copyText(charge.id)"
              >${charge.id}</span
            >
          </q-item-label>
          <q-item dense>
            <q-item-section>
              <q-item-label>Total to pay:</q-item-label>
              <!-- <q-item-label caption>Total amount to pay</q-item-label> -->
            </q-item-section>

            <q-item-section side>
              <q-badge color="blue">
                <span v-text="charge.amount" class="text-subtitle2"></span>
                <span>&nbsp;sats</span>
              </q-badge>
            </q-item-section>
          </q-item>
          <q-separator spaced></q-separator>
          <q-item dense>
            <q-item-section>
              <q-item-label>Amount paid:</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-badge color="orange">
                <span v-text="charge.balance" class="text-subtitle2"></span>
                <span>&nbsp;sats</span>
              </q-badge>
            </q-item-section>
          </q-item>
          <q-separator spaced v-if="pendingFunds"></q-separator>
          <q-item v-if="pendingFunds" dense>
            <q-item-section>
              <q-item-label>Amount pending:</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-badge color="gray">
                <span class="text-subtitle2">${pendingFunds} sats</span>
              </q-badge>
            </q-item-section>
          </q-item>
          <q-separator spaced></q-separator>
          <q-item dense>
            <q-item-section>
              <q-item-label>Amount due:</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-badge color="green">
                <span class="text-subtitle2"
                  >${charge.amount - charge.balance > 0 ? charge.amount -
                  charge.balance : 0} sats</span
                >
              </q-badge>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <q-card-section v-if="hasEnded">
        <q-separator></q-separator>
        <div class="row justify-center q-mt-sm">
          <div class="col-sm-10 col-md-8 q-ma-md">
            <div v-if="!charge.timeLeft && !charge.paid">
              <q-icon
                class="fit"
                name="block"
                style="color: #ccc; font-size: 21.4em"
              ></q-icon>
            </div>
            <satspay-paid
              v-else-if="charge.paid"
              :charge="charge"
              :timer="timer"
            ></satspay-paid>
          </div>
        </div>
      </q-card-section>
      <q-card-section v-else>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
          inline-label
        >
          <q-tab
            v-if="charge.onchainaddress"
            name="uqr"
            icon="qr_code"
            label="UQR (BIP21)"
          ></q-tab>
          <q-tab
            v-if="charge.payment_request"
            name="ln"
            icon="bolt"
            label="Lightning"
          ></q-tab>
          <q-tab
            v-if="charge.onchainaddress"
            name="btc"
            icon="link"
            label="Onchain"
          ></q-tab>
        </q-tabs>

        <q-separator></q-separator>
        <q-tab-panels v-model="tab" animated style="background: none">
          <q-tab-panel name="uqr">
            <div class="row justify-center q-mt-sm">
              <div class="col-sm-10 col-md-8">
                <satspay-show-qr
                  :charge-amount="charge.amount"
                  :type="'uqr'"
                  :value="unifiedQR"
                  :href="unifiedQR"
                ></satspay-show-qr>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="ln" v-if="charge.payment_request">
            <div class="row justify-center q-mt-sm">
              <div class="col-sm-10 col-md-8">
                <satspay-show-qr
                  :charge-amount="charge.amount"
                  :type="'ln'"
                  :value="'lightning:' + charge.payment_request.toUpperCase()"
                  :href="'lightning:'+charge.payment_request"
                ></satspay-show-qr>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="btc">
            <div class="row justify-center">
              <div class="col text-center">
                <a
                  class="text-secondary"
                  style="color: unset"
                  :href="'https://mempool.space/address/' + charge.onchainaddress"
                  target="_blank"
                  ><span
                    class="text-subtitle1"
                    v-text="charge.onchainaddress"
                  ></span>
                </a>
              </div>
            </div>
            <div class="row justify-center q-mt-md">
              <div class="col-sm-10 col-md-8">
                <satspay-show-qr
                  :charge-amount="charge.amount"
                  :type="'btc'"
                  :value="charge.onchainaddress"
                  :href="'bitcoin:'+charge.onchainaddress"
                ></satspay-show-qr>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block styles %} {% if custom_css %}
<link href="/satspay/css/{{ custom_css }}" rel="stylesheet" type="text/css" />
{% endif %}
<style>
  header button.q-btn-dropdown {
    display: none;
  }
</style>
{% endblock %} {% block scripts %}
<script>
  const charge_data = JSON.parse({{ charge_data|tojson }});
  const network = "{{ network }}";
</script>
<script src="{{ static_url_for('satspay/static', path='js/utils.js') }}"></script>
<script src="{{ static_url_for('satspay/static', path='js/components.js') }}"></script>
<script src="{{ static_url_for('satspay/static', path='js/display.js') }}"></script>
{% endblock %}
