{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        {% raw %}
        <q-btn unelevated color="primary" @click="formDialogCharge.show = true"
          >New charge
        </q-btn>

        <q-btn
          v-if="admin == 'True'"
          unelevated
          color="primary"
          @click="formDialogThemes.show = true"
          >New CSS Theme
        </q-btn>
        <q-btn
          v-else
          disable
          unelevated
          color="primary"
          @click="formDialogThemes.show = true"
          >New CSS Theme
          <q-tooltip
            >For security reason, custom css is only available to server
            admins.</q-tooltip
          ></q-btn
        >
        <lnbits-extension-settings-btn-dialog
          v-if="this.g.user.admin"
          :endpoint="endpoint"
          :options="settings"
        />
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Charges</h5>
          </div>

          <div class="col q-pr-lg">
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
              class="float-right"
            >
              <template v-slot:append>
                <q-icon name="search"></q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            <q-btn outline color="grey" label="...">
              <q-menu auto-close>
                <q-list style="min-width: 100px">
                  <q-item clickable>
                    <q-item-section @click="exportchargeCSV"
                      >Export to CSV</q-item-section
                    >
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
        <q-table
          flat
          dense
          :data="chargeLinks"
          row-key="id"
          :columns="chargesTable.columns"
          :pagination.sync="chargesTable.pagination"
          :filter="filter"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width>Status </q-th>
              <q-th auto-width>Title</q-th>
              <q-th auto-width>Time Left (hh:mm)</q-th>
              <q-th auto-width>Time To Pay (hh:mm)</q-th>
              <q-th auto-width>Amount To Pay</q-th>
              <q-th auto-width>Balance</q-th>
              <q-th auto-width>Pending Balance</q-th>
              <q-th auto-width>Onchain Address</q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  size="sm"
                  color="primary"
                  round
                  dense
                  @click="props.row.expanded= !props.row.expanded"
                  :icon="props.row.expanded? 'remove' : 'add'"
                />
              </q-td>

              <q-td auto-width>
                <q-badge
                  v-if="props.row.time_elapsed && props.row.balance < props.row.amount"
                  outline
                  color="primary"
                >
                  <a
                    :href="props.row.displayUrl"
                    target="_blank"
                    style="color: unset; text-decoration: none"
                    >expired</a
                  >
                </q-badge>

                <q-badge
                  v-else-if="props.row.balance >= props.row.amount"
                  outline
                  color="primary"
                >
                  <a
                    :href="props.row.displayUrl"
                    target="_blank"
                    style="color: unset; text-decoration: none"
                    >paid</a
                  >
                </q-badge>

                <q-badge v-else outline color="primary"
                  ><a
                    :href="props.row.displayUrl"
                    target="_blank"
                    style="color: unset; text-decoration: none"
                    >waiting</a
                  >
                </q-badge>
              </q-td>
              <q-td key="description" :props="props" :class="">
                <a
                  :href="props.row.displayUrl"
                  target="_blank"
                  style="color: unset; text-decoration: none"
                  >{{props.row.description}}</a
                >
              </q-td>
              <q-td key="timeLeft" :props="props" :class="">
                <div v-if="props.row.paid">
                    <q-linear-progress value="1"></q-linear-progress>
                </div>
                <div v-else>
                    <div>{{props.row.timeLeft}}</div>
                    <q-linear-progress
                      :value="props.row.progress"
                      color="secondary"
                    >
                    </q-linear-progress>
                </div>
              </q-td>
              <q-td key="time to pay" :props="props" :class="">
                <div>{{props.row.time}}</div>
              </q-td>
              <q-td key="amount" :props="props" :class="">
                <div>{{props.row.amount}}</div>
              </q-td>
              <q-td key="balance" :props="props" :class="">
                <div>{{props.row.balance}}</div>
              </q-td>
              <q-td key="pendingBalance" :props="props" :class="">
                <div>
                  {{props.row.pendingBalance ? props.row.pendingBalance : ''}}
                </div>
              </q-td>
              <q-td key="onchain address" :props="props" :class="">
                <a
                  class="text-secondary"
                  :href="props.row.displayUrl"
                  target="_blank"
                  style="color: unset; text-decoration: none"
                  >{{props.row.onchainaddress}}</a
                >
              </q-td>
            </q-tr>
            <q-tr v-show="props.row.expanded" :props="props">
              <q-td colspan="100%">
                <div
                  v-if="props.row.onchainwallet"
                  class="row items-center q-mt-md q-mb-lg"
                >
                  <div class="col-2 q-pr-lg">Onchain Wallet:</div>
                  <div class="col-4 q-pr-lg">
                    {{getOnchainWalletName(props.row.onchainwallet)}}
                  </div>
                </div>
                <div
                  v-if="props.row.lnbitswallet"
                  class="row items-center q-mt-md q-mb-lg"
                >
                  <div class="col-2 q-pr-lg">LNbits Wallet:</div>
                  <div class="col-4 q-pr-lg">
                    {{getLNbitsWalletName(props.row.lnbitswallet)}}
                  </div>
                </div>

                <div
                  v-if="props.row.completelink || props.row.completelinktext"
                  class="row items-center q-mt-md q-mb-lg"
                >
                  <div class="col-2 q-pr-lg">Completed Link:</div>
                  <div class="col-4 q-pr-lg">
                    <a
                      class="text-secondary"
                      :href="props.row.completelink"
                      target="_blank"
                      style="color: unset; text-decoration: none"
                      >{{props.row.completelinktext ||
                      props.row.completelink}}</a
                    >
                  </div>
                </div>
                <div
                  v-if="props.row.webhook"
                  class="row items-center q-mt-md q-mb-lg"
                >
                  <div class="col-2 q-pr-lg">Webhook:</div>
                  <div class="col-4 q-pr-lg">
                    <a
                      class="text-secondary"
                      :href="props.row.webhook"
                      target="_blank"
                      style="color: unset; text-decoration: none"
                      >{{props.row.webhook}}</a
                    >
                  </div>
                  <div class="col-4 q-pr-lg">
                    <q-badge
                      v-if="props.row.webhook_message"
                      @click="showWebhookResponseDialog(props.row.extra.webhook_response)"
                      color="blue"
                      class="cursor-pointer"
                    >
                      {{props.row.webhook_message }}
                    </q-badge>
                  </div>
                </div>
                <div class="row items-center q-mt-md q-mb-lg">
                  <div class="col-2 q-pr-lg">ID:</div>
                  <div class="col-4 q-pr-lg">{{props.row.id}}</div>
                </div>
                <div class="row items-center q-mt-md q-mb-lg">
                  <div class="col-2 q-pr-lg"></div>
                  <div class="col-6 q-pr-lg">
                    <q-btn
                      unelevated
                      outline
                      type="a"
                      :href="props.row.displayUrl"
                      target="_blank"
                      class="float-left q-mr-lg"
                      >Details</q-btn
                    >
                    <q-btn
                      unelevated
                      outline
                      type="a"
                      @click="refreshBalance(props.row)"
                      target="_blank"
                      class="float-left"
                      >Refresh Balance</q-btn
                    >
                  </div>
                  <div class="col-4 q-pr-lg">
                    <q-btn
                      unelevated
                      color="pink"
                      icon="cancel"
                      @click="deleteChargeLink(props.row.id)"
                      >Delete</q-btn
                    >
                  </div>
                  <div class="col-4"></div>
                  <div class="col-2 q-pr-lg"></div>
                </div>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>

    <q-card v-if="admin == 'True'">
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Themes</h5>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="themeLinks"
          row-key="id"
          :columns="customCSSTable.columns"
          :pagination.sync="customCSSTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateformDialog(props.row.css_id)"
                  icon="edit"
                  color="light-blue"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTheme(props.row.css_id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} satspay Extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "satspay/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog v-model="formDialogCharge.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormDataCharge" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialogCharge.data.name"
          type="text"
          label="Title (Default is 'LNbits SatsPay')"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialogCharge.data.description"
          type="text"
          label="*Description"
        ></q-input>

        <div class="row q-col-gutter-sm">
          <div class="col">
            <q-select
              dense
              :options="currencies"
              v-model="formDialogCharge.data.currency"
              :display-value="formDialogCharge.data.currency || 'satoshis'"
              label="Currency"
              :hint="'Converted to satoshis at each payment. ' + (formDialogCharge.data.currency && fiatRates[formDialogCharge.data.currency] ? `Currently 1 ${formDialogCharge.data.currency} = ${fiatRates[formDialogCharge.data.currency]} sat` : '')"
              @input="updateFiatRate"
            />
          </div>
        </div>

        <q-input
          filled
          dense
          v-model.trim="formDialogCharge.data.amount"
          type="number"
          label="*Amount (sats)"
          v-if="formDialogCharge.data.currency === 'satoshis'"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCharge.data.currency_amount"
          type="number"
          :label="'*Amount (' + formDialogCharge.data.currency + ')'"
          v-if="formDialogCharge.data.currency !== 'satoshis'"
          step="0.01"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCharge.data.time"
          type="number"
          max="1440"
          label="*Mins valid for (max 1440)"
        >
        </q-input>

        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox
                v-model="formDialogCharge.data.onchain"
                label="Onchain"
              />
            </div>
            <div v-else>
              <q-checkbox :value="false" label="Onchain" disabled>
                <q-tooltip>
                  Onchain Wallet (watch-only) extension MUST be activated and
                  have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
          <div class="col">
            <div>
              <q-checkbox
                v-model="formDialogCharge.data.lnbits"
                label="LNbits wallet"
              />
            </div>
          </div>
        </div>

        <div v-if="formDialogCharge.data.onchain">
          <q-select
            filled
            dense
            emit-value
            v-model="onchainwallet"
            :options="walletLinks"
            label="Onchain Wallet"
          ></q-select>
          <q-item tag="label" v-ripple>
            <q-item-section avatar top>
              <q-checkbox v-model="formDialogCharge.data.zeroconf" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Zeroconf (0-conf) payments</q-item-label>
              <q-item-label caption>
                Allow payments with 0 confirmations. This is less secure but
                faster. Payments will be marked paid once they are seen on the
                mempool.
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <q-select
          v-if="formDialogCharge.data.lnbits"
          filled
          dense
          emit-value
          v-model="formDialogCharge.data.lnbitswallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <q-toggle
          v-model="showAdvanced"
          label="Show advanced options"
        ></q-toggle>
        <div v-if="showAdvanced" class="row">
          <div class="col">
            <q-input
              filled
              dense
              v-model.trim="formDialogCharge.data.webhook"
              type="url"
              label="Webhook (URL to send transaction data to once paid)"
              class="q-mt-lg"
            >
            </q-input>

            <q-input
              filled
              dense
              v-model.trim="formDialogCharge.data.completelink"
              type="url"
              label="Completed button URL"
              class="q-mt-lg"
            >
            </q-input>
            <q-input
              filled
              dense
              v-model.trim="formDialogCharge.data.completelinktext"
              type="text"
              label="Completed button text (ie 'Back to merchant')"
              class="q-mt-lg"
            >
            </q-input>
            <q-select
              filled
              dense
              emit-value
              v-model="formDialogCharge.data.custom_css"
              :options="themeOptions"
              label="Custom CSS theme (optional)"
              class="q-mt-lg"
            >
            </q-select>
          </div>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="
                formDialogCharge.data.time == null ||
                (formDialogCharge.data.amount == null && formDialogCharge.data.currency_amount == null)"
            type="submit"
            >Create Charge</q-btn
          >
          <q-btn @click="cancelCharge" flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="formDialogThemes.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormDataThemes" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialogThemes.data.title"
          type="text"
          label="*Title"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialogThemes.data.custom_css"
          type="textarea"
          label="Custom CSS"
        >
        </q-input>
        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialogThemes.data.css_id"
            unelevated
            color="primary"
            type="submit"
            >Update CSS theme</q-btn
          >
          <q-btn v-else unelevated color="primary" type="submit"
            >Save CSS theme</q-btn
          >
          <q-btn @click="cancelThemes" flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="showWebhookResponse" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-input
        filled
        dense
        readonly
        v-model.trim="webhookResponse"
        type="textarea"
        label="Response"
      ></q-input>

      <div class="row q-mt-lg">
        <q-btn flat v-close-popup color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const admin = '{{ admin }}'
</script>
<script src="{{ static_url_for('satspay/static', path='js/utils.js') }}"></script>
<script src="{{ static_url_for('satspay/static', path='js/index.js') }}"></script>
{% endblock %}
